In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data.csv')

In [4]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [6]:
df.head(20)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [7]:
df.tail(20)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [10]:
print('nº de linhas e colunas: ', df.shape)

nº de linhas e colunas:  (169, 4)

In [14]:
print('tipo de dados de cada variável:\n', df.dtypes)

tipo de dados de cada variável:
 Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

### Qual a diferença entre um atributo e uma função/método no 'pandas'?

Atributos são características associadas a um objeto Pandas (como um DataFrame ou uma Série). Fornecem informações sobre o objeto, como tamanho, forma, tipo de dados, etc..Pode-se utilizar os atributos diretamente, sem usar parênteses. Exemplos de atributos: .shape, .dtype, .columns, .index, entre outros.
Funções (ou métodos) são ações que se podem realizar nos objetos Pandas, como por exemplo, cálculos, filtragem, ordenação, agregação, entre outros. São chamadas utilizando parênteses, e geralmente modificam o objeto original. Exemplos de funções/métodos: head(), tail(), groupby(), etc..

### O que é uma série e um dataframe em 'pandas'? Como se relacionam?

Séries e DataFrames(DF) são estruturas de dados que são usadas para armazenar, organizar e manipular dados.
Os DataFrames permitem organizar esses dados de maneira tabular, onde diferentes colunas podem conter diferentes variáveis e tipos de dados. As Séries são usadas para representar uma única coluna ou uma única dimensão de dados, por isso os DF são bidimenssionais enquanto que as Séries são unidimenssionais.
Cada coluna de um DF é uma Séries. As Séries podem conter dados de qualquer tipo, números, strings, datas, etc.
DataFrames e Séries têm um índice associado para rotular cada uma das linhas.