# Introdu√ß√£o
Este notebook servir√° para aferir os conhecimentos adquiridos.
Para esse efeito, ao inv√©s de carregarmos e tratarmos um dataset lido a partir de um ficheiro, iremos cri√°-lo com recurso ao pr√≥prio PANDAS.

## Cria√ß√£o do dataset...
...a partir de um "dicion√°rio" em Python

In [1]:
import pandas as pd
df = pd.DataFrame(data = {
    "Marcos": [9, 11, 8, 9, 6, 12, 8],
    "Jo√£o": [12, 13, 10, 15, 12, 13, 14],
    "Margarida": [10, 11, 13, 15, 16, 17, 13],
    "Soraia": [15, 16, 18, 19, 16, 14, 14],
    "Bernardo": [16, 16, 17, 17, 15, 14, 18],
    "Joaquim": [13, 11, 12, 10, 10, 8, 12],
    "Isaura": [19, 18, 18, 19, 17, 18, 18],
    "Sara": [11, 12, 9, 13, 14, 11, 8],
    "Pedro": [15, 12, 13, 12, 11, 11, 13],
    "Mauro": [11, 12, 9, 8, 8, 14, 11],},
    index = ['Matem√°tica', 'Portugu√™s', 'Ingl√™s', 'Geografia', 'Hist√≥ria', 'F√≠sica', 'Biologia'])
df

,Marcos,Jo√£o,Margarida,Soraia,Bernardo,Joaquim,Isaura,Sara,Pedro,Mauro
Matem√°tica,9,12,10,15,16,13,19,11,15,11
Portugu√™s,11,13,11,16,16,11,18,12,12,12
Ingl√™s,8,10,13,18,17,12,18,9,13,9
Geografia,9,15,15,19,17,10,19,13,12,8
Hist√≥ria,6,12,16,16,15,10,17,14,11,8
F√≠sica,12,13,17,14,14,8,18,11,11,14
Biologia,8,14,13,14,18,12,18,8,13,11

# **Quest√µes**

## 1 - Obtenha uma visualiza√ß√£o sum√°ria dos primeiros 2 registos

In [2]:
df.head(2)

,Marcos,Jo√£o,Margarida,Soraia,Bernardo,Joaquim,Isaura,Sara,Pedro,Mauro
Matem√°tica,9,12,10,15,16,13,19,11,15,11
Portugu√™s,11,13,11,16,16,11,18,12,12,12

## 2 - Obtenha uma visualiza√ß√£o sum√°ria dos √∫litmos 3 registos

In [3]:
df.tail(3)

,Marcos,Jo√£o,Margarida,Soraia,Bernardo,Joaquim,Isaura,Sara,Pedro,Mauro
Hist√≥ria,6,12,16,16,15,10,17,14,11,8
F√≠sica,12,13,17,14,14,8,18,11,11,14
Biologia,8,14,13,14,18,12,18,8,13,11

## 3 - Escreva o c√≥digo que permite obter informa√ß√£o APENAS sobre o n√∫mero de linhas e colunas do nosso dataframe.

In [4]:
df.shape

(7, 10)

## 4 - Escreva o c√≥digo que lhe permite obter informa√ß√£o mais detalhada sobre a estrutura e conte√∫dos do dataframe em quest√£o.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Matem√°tica to Biologia
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Marcos     7 non-null      int64
 1   Jo√£o       7 non-null      int64
 2   Margarida  7 non-null      int64
 3   Soraia     7 non-null      int64
 4   Bernardo   7 non-null      int64
 5   Joaquim    7 non-null      int64
 6   Isaura     7 non-null      int64
 7   Sara       7 non-null      int64
 8   Pedro      7 non-null      int64
 9   Mauro      7 non-null      int64
dtypes: int64(10)
memory usage: 616.0+ bytes

## 5 - Ainda falando de estrutura/conte√∫dos do dataframe (pergunta anterior), descreva por palavras suas a informa√ß√£o que consta da resposta anterior.

Resposta: Trata-se de uma pauta de notas escolar em forma de uma tabela em que constam as classifica√ß√µes de diversas disciplinas que foram atribuidas a 10 alunos. Constam informa√ß√µes relativas ao numero de colunas (10) e respetivamente, o primeiro e √∫ltimo nomes dessas colunas. √â tamb√©m possivel constatar o n√∫mero de valores nulos para cada uma das colunas (o qual nesta situa√ß√£o √© zero, nao existem valores nulos). √â possivel verificar que o tipo de dados de todas as colunas √© 'inteiro', ou seja tratam-se se vari√°veis n√∫mericas.

## 6 - Que fun√ß√£o usaria para conhecer com mais algum detalhe a informa√ß√£o descritiva (e agregada) dos dados num√©ricos no nosso dataframe? (escreva o respetivo c√≥digo)

In [6]:
df.describe()

,Marcos,Jo√£o,Margarida,Soraia,Bernardo,Joaquim,Isaura,Sara,Pedro,Mauro
count,7.0,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,9.0,12.714286,13.571429,16.000000,16.142857,10.857143,18.142857,11.142857,12.428571,10.428571
std,2.0,1.603567,2.572751,1.914854,1.345185,1.676163,0.690066,2.115701,1.397276,2.225395
min,6.0,10.000000,10.000000,14.000000,14.000000,8.000000,17.000000,8.000000,11.000000,8.000000
25%,8.0,12.000000,12.000000,14.500000,15.500000,10.000000,18.000000,10.000000,11.500000,8.500000
50%,9.0,13.000000,13.000000,16.000000,16.000000,11.000000,18.000000,11.000000,12.000000,11.000000
75%,10.0,13.500000,15.500000,17.000000,17.000000,12.000000,18.500000,12.500000,13.000000,11.500000
max,12.0,15.000000,17.000000,19.000000,18.000000,13.000000,19.000000,14.000000,15.000000,14.000000

## 7 - Em rela√ß√£o ao resultado obtido na pergunta anterior, explique por palavras suas o significado de cada uma das agrega√ß√µes (primeira coluna).

Resposta: Count: contagem do numero de observa√ß√µes ou linhas que neste caso s√£o as notas de cada uma das disciplinas;
mean: √© a media total das classifica√ß√µes;
std: refere-se ao desvio padrao da m√©dia;
min e max: √©, respetivamente, o valor minimo e m√°ximo observados no conjunto das entradas da coluna 'Marcus', que neste caso representa a nota mais baixa e a nota mais alta;
25%, 50%, 75%: refere-se ao 1¬∫, 2¬∫ e 3¬∫ quadrantes. Representam a disribui√ß√£o das diferentes notas. Por exemplo 25% das notas s√£o iguais ou menores que 8.

## 8 - Isole a coluna (ou s√©rie) "Isaura" e guarde a sua refer√™ncia numa vari√°vel c/ um nome √† sua escolha.

In [7]:
df_isaura= df['Isaura']
df_isaura

Matem√°tica    19
Portugu√™s     18
Ingl√™s        18
Geografia     19
Hist√≥ria      17
F√≠sica        18
Biologia      18
Name: Isaura, dtype: int64

## 9 - Usando a vari√°vel que criou na pergunta anterior, e os seus conhecimentos sobre como obter informa√ß√µes descritivas de dados num√©ricos, qual o valor do **desvio-padr√£o** das respetivas classifica√ß√µes? (escreva o c√≥digo na c√©lula seguinte e a resposta na outra seguinte)

In [8]:
df_isaura.std()

0.6900655593423541

## 10 - Explique por palavras suas o significado daquele desvio-padr√£o (pergunta anterior) em rela√ß√£o aos dados que constam naquela coluna em an√°lise.

Resposta: Neste caso, o desvio-padr√£o √© de aproximadamente 0.69, o desvio-padr√£o √© baixo, o que sugere que as classifica√ß√µes de Isaura est√£o relativamente pr√≥ximas da sua m√©dia.

## 11 - A c√©lula seguinte tem o c√≥digo que permite fazer uma TRANSPOSI√á√ÉO de uma dataframe... Ou seja, orientar o dataframe de forma a que as linhas passem a ser colunas e as colunas passem a ser as linhas. Analise o resultado...

In [9]:
df2 = df.transpose()
df2 # n√£o mexemos no 'df' original; obtivemos uma c√≥pia da transposi√ß√£o sob a vari√°vel 'df2'...

,Matem√°tica,Portugu√™s,Ingl√™s,Geografia,Hist√≥ria,F√≠sica,Biologia
Marcos,9,11,8,9,6,12,8
Jo√£o,12,13,10,15,12,13,14
Margarida,10,11,13,15,16,17,13
Soraia,15,16,18,19,16,14,14
Bernardo,16,16,17,17,15,14,18
Joaquim,13,11,12,10,10,8,12
Isaura,19,18,18,19,17,18,18
Sara,11,12,9,13,14,11,8
Pedro,15,12,13,12,11,11,13
Mauro,11,12,9,8,8,14,11

Resposta: O resultado ser√° um novo dataframe onde os r√≥tulos das disciplinas s√£o agora as colunas e os nomes dos alunos os √≠ndices das respetivas linhas. Isto pode ser √∫til em situa√ß√µes em que se deseja analisar os dados de uma perspectiva diferente. A forma de como se analisam os resultados depende do contexto e dos objetivos da an√°lise.

## 12 - Usando o dataframe transposto 'df2' - *daqui em diante, ser√° este que iremos usar at√© ao final do question√°rio* - execute a instru√ß√£o que permite obter uma tabela de correla√ß√µes entre as disciplinas.

In [10]:
df2.corr()

,Matem√°tica,Portugu√™s,Ingl√™s,Geografia,Hist√≥ria,F√≠sica,Biologia
Matem√°tica,1.000000,0.859374,0.852137,0.677623,0.581649,0.302003,0.831063
Portugu√™s,0.859374,1.000000,0.832289,0.824576,0.661290,0.562401,0.792666
Ingl√™s,0.852137,0.832289,1.000000,0.840092,0.768069,0.480014,0.847401
Geografia,0.677623,0.824576,0.840092,1.000000,0.913471,0.596137,0.744018
Hist√≥ria,0.581649,0.661290,0.768069,0.913471,1.000000,0.579908,0.645777
F√≠sica,0.302003,0.562401,0.480014,0.596137,0.579908,1.000000,0.540189
Biologia,0.831063,0.792666,0.847401,0.744018,0.645777,0.540189,1.000000

## 13 - Observe detalhadamente a tabela anterior e, usando as suas capacidades de an√°lise, interpreta√ß√£o e palavras suas, escreva algumas conclus√µes que pode antecipar, desta fase explorat√≥ria.

Resposta: Todas as disciplinas tem correla√ß√µes positivas entre si. Existem umas correla√ß√µes mais fortes do que outras. Por exemplo a correla√ß√£o entre Historia e Geografia sugere que se um aluno sobe a classifica√ß√£o a Historia √© muito provavel que tenha um resultado semelhante a Geografia, j√° o mesmo nao se verifica entre F√≠sica e qualquer uma das restantes disciplinas.

## 14 - Escreva o c√≥digo que permite visualizar apenas as colunas de Matem√°tica e Portugu√™s, e apenas os √∫ltimos 3 registos. Se poss√≠vel, use apenas uma linha de c√≥digo √∫nica... Se n√£o se lembrar, recorra ao apoio de uma vari√°vel.

In [11]:
df2[['Matem√°tica', 'Portugu√™s']].tail(3)

       Matem√°tica  Portugu√™s
Sara           11         12
Pedro          15         12
Mauro          11         12

## 15 - Isole o registo correspondente ao aluno Bernardo... e apresente-o como resultado,

In [12]:
df_bernardo=df2.loc['Bernardo']
df_bernardo

Matem√°tica    16
Portugu√™s     16
Ingl√™s        17
Geografia     17
Hist√≥ria      15
F√≠sica        14
Biologia      18
Name: Bernardo, dtype: int64

## 16 - Usando o resultado anterior (ter√° sido prudente se usou uma vari√°vel üòâ), obtenha uma informa√ß√£o descritiva/estat√≠stica sobre as classifica√ß√µes do Bernardo.

In [13]:
df_bernardo.describe()

count     7.000000
mean     16.142857
std       1.345185
min      14.000000
25%      15.500000
50%      16.000000
75%      17.000000
max      18.000000
Name: Bernardo, dtype: float64

## 17 - Use uma linha de instru√ß√£o √∫nica para selecionar os alunos que tiveram uma classifica√ß√£o superior ou igual a 15 em Matem√°tica.

In [18]:
df2[df2['Matem√°tica']>=15]['Matem√°tica']

Soraia      15
Bernardo    16
Isaura      19
Pedro       15
Name: Matem√°tica, dtype: int64

## 18 - Usando o princ√≠pio semelhante ao da pergunta anterior, use o c√≥digo Python necess√°rio para apresentar todos os alunos que tiveram classifica√ß√£o superior √† m√©dia na disciplina de Portugu√™s.

In [21]:
print('media a portuges: ', df2['Portugu√™s'].mean())
df3= df2[df2['Portugu√™s']>=df2['Portugu√™s'].mean()]
df3['Portugu√™s']

media a portuges:  13.2

Soraia      16
Bernardo    16
Isaura      18
Name: Portugu√™s, dtype: int64

## 19 - Analise o c√≥digo Python seguinte, e corrija os erros que o impedem de executar normalmente. O objetivo √© obter o resultado da sua execu√ß√£o.

In [49]:
def on_off(lst):
    if len([x for x in lst if x < 10]) >= 2:
        return 'OFF'
    else:
        return 'ON'

df.apply(on_off)  # forma de aplicar uma fun√ß√£o definida por n√≥s a todos os registos/linhas do nosso dataframe

Marcos       OFF
Jo√£o          ON
Margarida     ON
Soraia        ON
Bernardo      ON
Joaquim       ON
Isaura        ON
Sara         OFF
Pedro         ON
Mauro        OFF
dtype: object

## 20 - Agora que conseguiu executar o c√≥digo anterior, e j√° conseguiu ver o respetivo resultado, procure explicar o resultado obtido, observando e seguindo o c√≥digo Python que lhe deu origem.

Resposta:

O resultado indica os alunos que reprovaram de ano ('OFF') e os que n√£o reprovaram de ano ('ON'). A fun√ß√£o determina que os alunos que tiveram classifica√ß√£o menor do que 10 a pelo menos duas disciplinas tem atribuida a designa√ß√£o 'OFF', que significa que o aluno reprovou. Quando o contrario acontece, o aluno fica com a designa√ß√£o 'ON', que significa que o aluno transitou.